@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  background-color: #000;
  color-scheme: dark;
}

@layer components {
  .auth-item {
    @apply rounded-full px-4 py-2 border border-neutral-500 hover:border-white min-w-[70%] w-[80%] cursor-pointer flex items-center gap-x-3;
  }
}